doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body.vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded.container
      a.navbar-brand(href="/") Chat
    .container.vh-85
      #chat.h-100
    script(src='/assets/main.js')
